/exports/POJO/
/exports/aat8t_action_log_config.sql
/exports/aat8t_action_logs.sql
/exports/aat8t_action_logs_extensions.sql
/exports/aat8t_action_logs_users.sql
/exports/aat8t_akeeba_common.sql
/exports/aat8t_akeebabackup_backups.sql
/exports/aat8t_akeebabackup_profiles.sql
/exports/aat8t_akeebabackup_storage.sql
/exports/aat8t_assets.sql
/exports/aat8t_associations.sql
/exports/aat8t_banner_clients.sql
/exports/aat8t_banner_tracks.sql
/exports/aat8t_banners.sql
/exports/aat8t_categories.sql
/exports/aat8t_contact_details.sql
/exports/aat8t_content.sql
/exports/aat8t_content_frontpage.sql
/exports/aat8t_content_rating.sql
/exports/aat8t_content_types.sql
/exports/aat8t_contentitem_tag_map.sql
/exports/aat8t_extensions.sql
/exports/aat8t_fields.sql
/exports/aat8t_fields_categories.sql
/exports/aat8t_fields_groups.sql
/exports/aat8t_fields_values.sql
/exports/aat8t_finder_filters.sql
/exports/aat8t_finder_links.sql
/exports/aat8t_finder_links_terms.sql
/exports/aat8t_finder_logging.sql
/exports/aat8t_finder_taxonomy.sql
/exports/aat8t_finder_taxonomy_map.sql
/exports/aat8t_finder_terms.sql
/exports/aat8t_finder_terms_common.sql
/exports/aat8t_finder_tokens.sql
/exports/aat8t_finder_tokens_aggregate.sql
/exports/aat8t_finder_types.sql
/exports/aat8t_history.sql
/exports/aat8t_languages.sql
/exports/aat8t_mail_templates.sql
/exports/aat8t_menu.sql
/exports/aat8t_menu_types.sql
/exports/aat8t_messages.sql
/exports/aat8t_messages_cfg.sql
/exports/aat8t_modules.sql
/exports/aat8t_modules_menu.sql
/exports/aat8t_newsfeeds.sql
/exports/aat8t_overrider.sql
/exports/aat8t_postinstall_messages.sql
/exports/aat8t_privacy_consents.sql
/exports/aat8t_privacy_requests.sql
/exports/aat8t_redirect_links.sql
/exports/aat8t_scheduler_tasks.sql
/exports/aat8t_schemas.sql
/exports/aat8t_session.sql
/exports/aat8t_tags.sql
/exports/aat8t_template_overrides.sql
/exports/aat8t_template_styles.sql
/exports/aat8t_ucm_base.sql
/exports/aat8t_ucm_content.sql
/exports/aat8t_update_sites.sql
/exports/aat8t_update_sites_extensions.sql
/exports/aat8t_updates.sql
/exports/aat8t_user_keys.sql
/exports/aat8t_user_mfa.sql
/exports/aat8t_user_notes.sql
/exports/aat8t_user_profiles.sql
/exports/aat8t_user_usergroup_map.sql
/exports/aat8t_usergroups.sql
/exports/aat8t_users.sql
/exports/aat8t_viewlevels.sql
/exports/aat8t_vmmdatabase_customers.sql
/exports/aat8t_vmmdatabase_datasets.sql
/exports/aat8t_webauthn_credentials.sql
/exports/aat8t_workflow_associations.sql
/exports/aat8t_workflow_stages.sql
/exports/aat8t_workflow_transitions.sql
/exports/aat8t_workflows.sql
/structure.sql
/test.sql
/tester.sql
